@import url('https://fonts.cdnfonts.com/css/ukij-chiwer-kesme');

:root {
    --color-fondo: #fbfff1;
    --color-texto: #0f0420;
    --color-enfasis: #183768;
    --color-enfasis2: #b4c5e4;
    --tamaño-títulos: 30px;
}


--------

/*Header*/
----- * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    font-family: 'UKIJ Chiwer Kesme', sans-serif;
    background-color: var(--color-texto);
    color: white;
    overflow-x: hidden;

}


nav {
    width: 97vw;
    height: 10vh;
    background-color: var(--color-enfasis);
    margin: 6px;
    border-radius: 25px;
    padding-top: 20px;
    /* margin: 20px;*/
}

.Lista {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: end;
    list-style: none;
    margin-right: 50px;
    /*margin-top: 30px;*/
}

.Lista a {
    color: var(--color-fondo);
    text-decoration: none;
}


.Perfil {
    display: flex;
    flex-flow: wrap;
    gap: 20px;
    font-size: 30%;
    
}

.brand {
    display: grid;
    color: #2055aa;
}

h1 {
    display: flex;
    font-size: 35px;

}


h2 {
    text-align: center;
    margin-top: 80px;
    font-size: 30PX;
}


.contenedor-Proyectos {
    display: flex;
    margin: 20px;
    gap: 20px;
    text-align: center;

}

.contenedor-Proyectos img {
    width: 700px;
    height: 280px;
    text-align: center;
    margin: 7px;
}

.contenedor {
    display: flex;
    border: solid #0f0420;
    color: var(--color-texto);
    text-align: center;
    width: 400px;
    height: 200px;

}

h3 {
    margin: 10px;
    text-align: left;
    font-size: 30px;

}


.brand span {
    color: rgb(252, 253, 253);
    }




.logo {
    margin: 10px;
    padding: 20px;
    width: 100px;
    height: 100px;
    justify-content: center;
}



a {
    color: var(--color-texto);
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 50;
}
*/

----------

/*main*/
------ main {
    border: solid;
    margin: auto;
    width: 97vw;
    justify-items: auto;
    flex-direction: column;
    gap: 20px;
}


img {
    max-width: 400px;
    float: initial;
    border: 3px solid #fff;
    display: flexbox;


}


.contenedor {
    background-color: var(--color-enfasis2);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
    gap: 5px;
}

.semantica {
    width: 58%;
    border-radius: 15px;
}

-------------

/*footer*/
.final {
    display: flex;
    justify-items: end;
    text-decoration: none;
    color: aqua;
    border: solid red;
}